:root {
    --peach: #ffdab9;
    --dark: #2f4f4f;
    --cyan: #e0ffff;
    --green: #25d366;
}
* {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    background-color: #d3d3d3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#nav-container {
     background-color: var(--cyan);
     position: sticky;
     top: 0px; 
}
.nav-flex {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 60px; 
}
.nav-flex label, #humberger {
    display: none;
}
nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin:0;
}
nav ul li a {
    display: block;
    color: var(--dark);
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 60px;
}
nav ul li a:hover {
    background-color: var(--peach);
    transition: all 0.3s;
}
.nav-brand h2 {
    margin: 14px 0 0 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark);
}
#hero-container {
    background-image: url(../gambar/Yesus.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-attachment: fixed;
}
.text {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: var(--cyan);
    font-size: 20px;
}
#hero-container .text p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
   width: 100%;
   
}
#deskripsi-singkat {
    width: 100%;
    color: var(--dark);
    text-align: center;
    margin-top: 80px;
    padding: 0 10px;
}
.about-flex {
    width: 100%;
   display: flex;
   flex-wrap: wrap;
   margin: 30px auto;
}
.about-items {
    width: 25%;
    text-align: center;
    padding: 20px 5px;
    margin: auto;
}
.about-items p {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-items img {
    width: 100%;
    height: 350px;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 10px 10px 100px 10px rgba(137, 46, 160, 0.5);
}
.login-button a button {
    background-color: var(--green);
    border-radius: 5px;
    border: #d3d3d3;
    width: 50%;
    padding: 5px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.login-button a button:hover {
    background-color: var(--peach);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
#profil {
    background-image: url(../gambar/cover_brand.png);
}
.biodata {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.foto-profil {
    width: 200px;
}
.foto-profil img {
    width: 80px;
    height: 90px;
    border-radius: 40%;
    margin: 10px;
    text-align: center;
}
.text-biodata {
    color: var(--cyan);
}
.text-biodata a {
    font-size: 20px;
    margin-top: 20px;
    color: white;
}
.social-icon {
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10% auto;
    padding: 5px;
    color: var(--cyan);
    border-radius: 10px;
}
.instagram {
    background-color: red;
}
.foto-profil, .p {
    color:blanchedalmond;
}

/* versi tablet */
@media screen and (max-width: 768px) {
    /* Tampilkan icon humberger */
    #nav-container .nav-flex label {
        display: inline-block;
        color: var(--dark);
        font-style: normal;
        font-size: 32px;
        padding: 8px;
    }
    /* susun ulang menu menjadi vertikal */
    #nav-container .nav-flex {
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }
    nav ul li a {
        display: block;
        color: var(--dark);
        background-color: var(--cyan);
        padding: 0 30px;
        height: auto;
    }
    /* pindahkan posisi brand ke kanan dan perkecil */
    .nav-brand h2 {
        position: absolute;
        right: 20px;
    }
    /* untuk menampilkan atau menyembunyikan menu */
    #nav-container nav {
        display: none;
    }
    /* Menampilkan menu ketika teks garis tiga(humberger) diklik */
    #nav-container .nav-flex input:checked ~ nav {
        display: flex;
    }
    /* hero-container */
}
/* vesi smartphone */
@media screen and (max-width:481px) {
    /* gambarnya */
    .about-items {
        width: 55%;
    }
}